* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    #f7fafb,
    #edf1f3,
    #e4e8ea,
    #dbdfe2,
    #d2d6da
  );
}
